<div class="container btn-dark">
    <ul class="list-unstyled components">
        <li >
            <a href="#">Register Student</a>
            <a href="#">Student Fee Status</a>
            <a href="#">Active Students</a>
            <a href="#">Student Details</a>
            <a href="#">Expence</a>
            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;MailBox</a>
            <a href="#">Profile</a>
            <a href="#">Password Service</a>
                
        </li>
        
    </ul>
</div>
