<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <app-collapse *ngIf='isSuccessLogin()'></app-collapse>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link colorWhite"  routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorWhite" routerLink="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorWhite" routerLink="/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a style=" z-index: 1;" class="nav-link colorWhite" *ngIf='!isSuccessLogin()' routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a *ngIf='isSuccessLogin()' class="nav-link colorWhite" routerLink="logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
