<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    
   

<div  class="col-md-6"  align="center" style="border:1px solid black; background-color: grey;margin-top:50px; padding:25px">
<h3>Login</h3>

<!-- <p *ngIf="invalidLogin" style="color:crimson; font-size: 15px;">Invalid username or password</p> -->
<table style="border-collapse: collapse;
width: 40%;" class="table">
    <tbody>
<tr>
    <td align="right">
     Login*   
    </td>
    <td>&nbsp;</td>
    <td>
    <input type="text" [(ngModel)]="user" />
    </td>
</tr>
<tr>
    <td align="right">
     Password*  
    </td>
    <td>&nbsp;</td>
    <td>
    <input type="password" [(ngModel)]="pass" />
    </td>
    <tr>
        <td align="right">
            &nbsp;  
        </td>
        <td>&nbsp;</td>
        <td align="right" style="padding: 5px;">
        <input type="button" (click)="authenticateUser('user','pass')" class="btn btn-success" style="padding: 10px;" value="Login"  />
        </td>
</tr>
</tbody>
</table>
</div>
<div class="col-md-3"></div>
</div>
</div>
