   
        <div class="bg-dark">
    <div class="wrapper">
        <div >
        <app-sidebar *ngIf='isSuccessLogin()'></app-sidebar>   
        </div>
        <!-- Page Content Holder -->
        <div id="content" style="background-color:white;">
            <app-mainmenubar></app-mainmenubar>
            <div style="margin-left:5px; margin-bottom:10px;position:relative">
            <router-outlet></router-outlet>
        </div>
          </div>
    </div>
    <app-footer></app-footer>
    </div>
