  <div class="container bg-dark">
    <ul class="list-unstyled components">
        <li >
            <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Student</a>
            <ul class="collapse list-unstyled" id="studentSubmenu">
                <li><a class="btn-dark" href="#">Student Fee Status</a></li>
                <li><a class="btn-dark" href="#">Student Details</a></li>
                <li><a class="btn-dark" href="#">Register Student</a></li>
                <li><a class="btn-dark" href="#">Print Certificate</a></li>
                <li><a class="btn-dark" href="#">Approve Certificate</a></li>
            </ul>
        </li>
        <li> 
            <a href="#courseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Courses</a>
            <ul class="collapse list-unstyled" id="courseSubmenu">
                <li><a class="btn-dark" href="#">Active Course</a></li>
                <li><a class="btn-dark" href="#">Archive Course</a></li>
                <li><a class="btn-dark" routerLink="/addCourse">Add Course</a></li>
                <li><a class="btn-dark" href="#">Approve Course</a></li>
            </ul>
        </li>

        <li> 
            <a href="#feeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fee</a>
            <ul class="collapse list-unstyled" id="feeSubmenu">
                <li><a class="btn-dark" href="#">Pending Student Fee</a></li>
                <li><a class="btn-dark" href="#">Deposite Fee</a></li>
                <li><a class="btn-dark" href="#">Month Fee Status</a></li>
                <li><a class="btn-dark" href="#">Pay Fee</a></li>
                <li><a class="btn-dark" href="#">Expences</a></li>
                <li><a class="btn-dark" href="#">Net Income MonthWise</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;MailBox</a>
        </li>
    </ul>
</div>
